<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id="title" style="color:cadetblue"> 
    {{ title }}
  </h1>
</div>
<nav class="navbar navbar-light" style="background-color: #e3f2fd">
<ul >
  <li>
    <h4><a  routerLink="/employees" style="text-decoration:none">Employees List</a></h4>
  </li>
  <li><b>|</b></li>
  <li>
    <h4><a  routerLink="/addemployee" style="text-decoration:none">Add Employee</a></h4>
  </li>
</ul>
</nav>

<router-outlet ></router-outlet>

